* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
}



.sidebar {
  width: 320px;
  background: #ffffff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  padding: 15px;
}

.sidebar input {
  margin: 0 15px 10px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.dark-btn {
  margin: 0 15px 10px;
  padding: 6px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.chat-list {
  list-style: none;
  overflow-y: auto;
  flex: 1;
}

.chat-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  cursor: pointer;
}

.chat-item:hover {
  background-color: #f5f5f5;
}

.chat-item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.unread-badge {
  margin-left: auto;
  background-color: #25d366;
  color: white;
  font-size: 12px;
  font-weight: bold;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 12px 16px;
  background-color: #f0f2f5;
  border-bottom: 1px solid #ddd;
}

.chat-status {
  font-size: 12px;
  color: #667781;
}

.messages {
  flex: 1;
  padding: 20px;
  background-color: #efeae2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.message {
  max-width: 60%;
  padding: 10px 14px;
  border-radius: 8px;
}

.message.received {
  background-color: #ffffff;
  align-self: flex-start;
  border-radius: 0 10px 10px 10px;
}

.message.sent {
  background-color: #d9fdd3;
  align-self: flex-end;
  border-radius: 10px 0 10px 10px;
}

.message-time {
  font-size: 11px;
  color: #667781;
  text-align: right;
  margin-top: 4px;
}

.check {
  margin-left: 4px;
  color: #667781;
}

.check.read {
  color: #53bdeb;
}



.chat-input {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #f0f2f5;
}

.chat-input input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
}

.chat-input button {
  background: #25d366;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 50%;
  cursor: pointer;
}



.app.dark {
  background-color: #111b21;
}

.app.dark .sidebar {
  background-color: #202c33;
  color: white;
}

.app.dark .chat-header,
.app.dark .chat-input {
  background-color: #202c33;
  color: white;
}

.app.dark .messages {
  background-color: #0b141a;
}

.app.dark .message.received {
  background-color: #202c33;
  color: white;
}

.app.dark .message.sent {
  background-color: #005c4b;
  color: white;
}

.app.dark input {
  background-color: #2a3942;
  color: white;
}
